<!DOCTYPE html>
<html>

  <head>    <title> Critter </title></head>

<body>
	

	<h1>Listar Monstruos</h1>
	<table>
	   <tr>
	     <th>Nombre</th>
	   </tr>
	   <% Monstruo.all.each do |m|%>
	   <tr>
	     <td><%= link_to monstruo.nombre, monstruo %> </td>
	   	  <% if tweets.where(monstruo_id:"m.id")>1 %>
	   	    <td> S</td>	
	   </tr>
           <% end %>
         </table>
</body>

</html>
